$container_width: 980px;

/* 全体の枠 */
div#container {
  margin: 0 10% auto;
  padding: 5 50px;
  max-width: 100%;
  min-width: 680px;
  background-color: white;
}

div#header {
    text-align: left;
  h1 {
    color: white;
    padding: 0.5em;
    margin: 30px 5%;
    display: inline-block;
    line-height: 1.3;
    background: #9dc3e6;
    vertical-align: middle;
    border-radius: 35px 0px 0px 35px;
  }

  h1:before {
    content: '●';
    color: white;
     margin-right: 8px;
  }
}

/* メインコンテンツ */
div#content {
    text-align: right;
    padding: 0 50px 50px 50px;
  h2 {
    color: #777;
    font-weight: bold;
    font-size: 150%;
    text-align: left;
  }
  p, ul {
    font-size: 90%;
    line-height: 1.5;
  }

  a{
      color: gray;
  }

  .btn{
      width: 75px;
      display: inline-block;
      padding: 0em 1em;
      text-decoration: none;
      color: #fff;
      border-radius: 3px;
      text-align: center;
  }
  .btn:active{
      -ms-transform: translateY(4px);
      -webkit-transform: taranslateY(4px);
      transform: translateY(4px);
      border-bottom: none;
  }
    .add{
        background: #47c;
        border-bottom: solid 4px #27a;
        padding: 0.5em 1em;
        font-size: 120%;

    }

      .edit{
        background: #9ce;
      border-bottom: solid 4px #7ac;
      }

      .delete{
        background: #47c;
      border-bottom: solid 4px #27a;
    }

}
