/* ページネーション */
div.pagination {
  text-align: center;
  font-size: 75%;
  padding: 4px 8px;
  word-spacing: 4px;

  em { font-style: normal; }
  em.current {
    color: #2e75b6;
    font-weight: bold;
  }
}
